<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins&display=swap"
      rel="stylesheet" />
    <link rel="stylesheet" href="../public/styles.css" />
  </head>
  <body>
    <header>
      <nav class="navbar">
        <img src="../public/icons/websiteLogo.png" alt="" width="120" />
        <ul>
          <li class="about-us"><a href="#">About us</a></li>
          <li class="donate"><a href="#">Donate</a></li>
          <li class="login"><a href="#">Login</a></li>
          <li class="register"><a href="#">Register</a></li>
        </ul>
        <img class="menu" src="../public/icons/menu.svg" alt="" width="35" />
      </nav>
      <!-- <nav class="sidebar navbar">
        <img class="menu" src="../public/icons/menu.svg" alt="" width="35" />
        <ul>
          <li class="about-us"><a href="#">About us</a></li>
          <li class="donate"><a href="#">Donate</a></li>
          <li class="login"><a href="#">Login</a></li>
          <li class="register"><a href="#">Register</a></li>
        </ul>
      </nav> -->
    </header>
    <img src="../public/icons/crossed-eye.svg" alt="" />
    <img src="../public/icons/crossed-eye.svg" alt="" />
    <img src="../public/icons/crossed-eye.svg" alt="" />
    <footer class="footer">
      <div class="footer-container">
        <div class="footer-registration"></div>
        <div class="footer-image"></div>
        <div class="footer-logo"></div>
        <div class="footer-info"></div>
        <div class="footer-info"></div>
        <div class="footer-info"></div>
      </div>
    </footer>
  </body>
</html>
