<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins&display=swap"
      rel="stylesheet" />
    <link rel="stylesheet" href="../public/styles.css" />
    <link rel="stylesheet" href="../public/footer.css" />
  </head>
  <body>
    <header>
      <nav class="navbar">
        <img src="../public/icons/websiteLogo.png" alt="" width="120" />
        <ul>
          <li class="about-us"><a href="#">About us</a></li>
          <li class="donate"><a href="#">Donate</a></li>
          <li class="login"><a href="../views/login.ejs">Login</a></li>
          <li class="register">
            <a href="../views/registration.ejs">Register</a>
          </li>
        </ul>
        <img class="menu" src="../public/icons/menu.svg" alt="" width="35" />
      </nav>
      <nav class="sidebar navbar">
        <ul>
          <li class="about-us"><a href="#">About us</a></li>
          <li class="donate"><a href="#">Donate</a></li>
          <li class="login"><a href="../views/login.ejs">Login</a></li>
          <li class="register">
            <a href="../views/registration.ejs">Register</a>
          </li>
        </ul>
      </nav>
    </header>
    <section>
      <div class="main-content">
        <div class="cards">
          <div class="info-cards card-1">
            <span></span>
            <div class="description">
              <p></p>
              <button></button>
            </div>
          </div>

          <div class="info-cards card-2">
            <span></span>
            <div class="description">
              <p></p>
              <button></button>
            </div>
          </div>

          <div class="info-cards card-3">
            <span></span>
            <div class="description">
              <p></p>
              <button></button>
            </div>
          </div>

          <div class="info-cards card-4">
            <span></span>
            <div class="description">
              <p></p>
              <button></button>
            </div>
          </div>
        </div>
        <div class="main-img"></div>
      </div>
    </section>
    <img src="../public/icons/envelope.svg" alt="" />
    <img src="../public/icons/crossed-eye.svg" alt="" />
    <img src="../public/icons/crossed-eye.svg" alt="" />
    <footer class="footer">
      <div class="footer-container">
        <div class="footer-registration">
          <div class="footer-heading">
            <p>Lorem ipsum dolor sit amet.</p>
            <h3>Lorem ipsum dolor sit.</h3>
          </div>
          <a href="#">Login</a>
        </div>
        <div class="footer-image">
          <img src="../public/icons/eye.svg" alt="" width="150" />
        </div>
        <div class="footer-logo">
          <img src="../public/icons/websiteLogo.png" alt="" width="120" />
          <p>
            Lorem ipsum, dolor sit amet consectetur adipisicing elit.
            Necessitatibus blanditiis <br />eligendi possimus magni eum quasi?
          </p>
        </div>
        <div class="footer-info links">
          <a href="#">About</a>
          <a href="#">Jobs</a>
          <a href="#">Docs</a>
        </div>
        <div class="footer-info">
          <a href="#">Terms and Conditions</a>
          <a href="#">Privacy policy</a>
          <a href="#">cookie policy</a>
        </div>
        <div class="footer-info">
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptates
            ipsum illum possimus id illo dolore quaerat et accusantium soluta
            aspernatur.
          </p>
        </div>
      </div>
    </footer>
  </body>
</html>
