<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins&display=swap"
      rel="stylesheet" />
    <link rel="stylesheet" href="../public/styles.css" />
    <link rel="stylesheet" href="../public/header.css" />
    <link rel="stylesheet" href="../public/footer.css" />
  </head>
  <body>
    <header>
      <nav class="navbar">
        <img src="../public/icons/websiteLogo.png" alt="" width="120" />
        <ul>
          <li class="about-us"><a href="#"> About us</a></li>
          <li class="donate"><a href="#">Donate</a></li>
          <li class="login"><a href="#">Login</a></li>
          <li class="register">
            <a href="#">Register</a>
          </li>
        </ul>
        <img
          class="menu hamburger"
          src="../public/icons/menu.svg"
          alt=""
          width="35"
          onclick="toggleSidebar()" />
        <img
          class="menu cross"
          src="../public/icons/cross.svg"
          alt=""
          width="35"
          onclick="toggleSidebar()" />
      </nav>
      <nav class="sidebar show">
        <ul>
          <li class="side-about-us"><a href="#">About us</a></li>
          <li class="side-donate"><a href="#">Donate</a></li>
          <li class="side-login"><a href="#">Login</a></li>
          <li class="side-register">
            <a href="#">Register</a>
          </li>
        </ul>
      </nav>
    </header>
    <section>
      <div class="blog-container">
        <div class="section-1"></div>
        <div class="section-2"></div>
        <div class="section-3"></div>
        <div class="section-4"></div>
        <div class="section-5"></div>
        <div class="section-6"></div>
        <div class="section-7"></div>
        <div class="chat-bot"></div>
      </div>
    </section>
    <footer class="footer">
      <div class="footer-container">
        <div class="footer-registration">
          <div class="footer-heading">
            <p>Lorem ipsum dolor sit amet.</p>
            <h3>Lorem ipsum dolor sit.</h3>
          </div>
          <a href="#">Login</a>
        </div>
        <div class="footer-image">
          <img src="../public/icons/eye.svg" alt="" width="150" />
        </div>
        <div class="footer-logo">
          <img src="../public/icons/websiteLogo.png" alt="" width="120" />
          <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit.</p>
        </div>
        <div class="footer-info-1 links">
          <a href="#">About</a>
          <a href="#">Jobs</a>
          <a href="#">Docs</a>
        </div>
        <div class="footer-info-2 links">
          <a href="#">Terms and Conditions</a>
          <a href="#">Privacy policy</a>
          <a href="#">cookie policy</a>
        </div>
        <div class="footer-info-3">
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptates
          </p>
        </div>
      </div>
    </footer>
    <script>
      const sidebar = document.querySelector(".sidebar").style;
      const hamburger = document.querySelector(".hamburger").style;
      const cross = document.querySelector(".cross").style;
      const menu = document.querySelector(".menu");
      if (window.innerWidth < 576) {
        hamburger.display = "block";
      }
      window.addEventListener("resize", () => {
        if (window.innerWidth < 576) {
          hamburger.display = "block";
        } else {
          sidebar.display = "none";
          hamburger.display = "none";
          cross.display = "none";
        }
      });

      // menu.addEventListener("click", () => {
      //   cross.display = hamburger.display === "none" ? "block" : "none";
      //   sidebar.display = cross.display === "none" ? "flex" : "none";
      //   hamburger.display = sidebar.display === "none" ? "block" : "none";
      //   cross.display = hamburger.display === "none" ? "block" : "none";
      // });

      function toggleSidebar() {
        cross.display = hamburger.display === "none" ? "block" : "none";
        sidebar.display = cross.display === "none" ? "flex" : "none";
        hamburger.display = sidebar.display === "none" ? "block" : "none";
        cross.display = hamburger.display === "none" ? "block" : "none";
      }
    </script>
  </body>
</html>
