<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins&display=swap"
      rel="stylesheet" />
    <link rel="stylesheet" href="../public/styles.css" />
  </head>
  <body>
    <header>
      <nav>
        <img src="../public/icons/websiteLogo.png" alt="" width="120" />
        <ul>
          <li><a href="#">About us</a></li>
          <li><a href="#">Donate</a></li>
          <li class="login"><a href="./login.ejs">Login</a></li>
          <li class="register"><a href="./registration.ejs">Register</a></li>
        </ul>
      </nav>
    </header>
    <img src="../public/icons/email-icon.svg" alt="" width="" />
    <img src="../public/icons/lock-open-icon.svg" alt="" width="" />
    <ul>
  </body>
</html>
