<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="../views/login.css" />
  </head>
  <body>
    <div class="container">
      <div class="forms">
        <div class="form login">
          <span class="title">Login</span>
          <form action="#">
            <div class="inputfield">
              <input type="text" placeholder="Email" />
              <img src="../views/icons/email-icon.svg" alt="" width="25" />
            </div>
            <div class="inputfield">
              <input type="password" placeholder="Password" />
              <img src="../views/icons/lock-open-icon.svg" alt="" width="25" />
            </div>
          </form>
        </div>
      </div>
    </div>
  </body>
</html>
