<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins&display=swap"
      rel="stylesheet" />
    <link rel="stylesheet" href="../views/styles.css" />
  </head>
  <body>
    <header>
      <nav>
        <img src="../views/icons/websiteLogo.png" alt="" width="120" />
        <ul>
          <li>bout us</li>
          <li>Donate</li>
          <li class="login">Login</li>
          <li class="register">Register</li>
        </ul>
      </nav>
    </header>
    <img src="../views/icons/websiteLogo.png" alt="" width="" />
  </body>
</html>
