* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}
:root {
  --primary: #f8f9fa;
  --secondary: #ff8b17;

  --dark-moss-green: #606c38ff;
  --dark-green: #283618ff;
  --cornsilk: #fefae0ff;
  --earth-yellow: #dda15eff;
  --tigers-eye: #bc6c25ff;

  --hunter-green: #386641ff;
  --asparagus: #6a994eff;
  --yellow-green: #a7c957ff;
  --parchment: #f2e8cfff;
  --bittersweet-shimmer: #bc4749ff;
}
body {
  background-color: var(--cornsilk);
}
header {
  position: sticky;
  top: 0px;
  border-bottom: 3px solid var(--dark-green);
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: var(--asparagus);
  box-shadow: --dark-green 0px 2px 8px 0px;
}
nav > ul {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 370px;
  padding: 15px;
}
nav > ul > li {
  text-align: center;
}
nav ul li:nth-child(1) a,
li:nth-child(2) a {
  color: var(--cornsilk);
}
nav > ul > li:nth-child(1):hover,
li:nth-child(2):hover {
  border-bottom: 4px solid var(--dark-green);
  margin-bottom: -4px;
}
nav > ul > li > a {
  text-decoration: none;
  font-size: 16px;
}
.login a {
  border: 2px solid var(--cornsilk);
  color: var(--cornsilk);
  background-color: var(--asparagus);
  padding: 10px 20px;
  border-radius: 50px;
  transition: all 0.2s ease-in 0s;
}
.login a:hover {
  background-color: rgba(82, 124, 58, 0.782);
}
.register a {
  border: 2px solid var(--cornsilk);
  color: var(--cornsilk);
  background-color: var(--dark-green);
  padding: 10px 20px;
  border-radius: 50px;
  transition: background-color 0.2s ease-in 0s, border 0.3s ease-in 0s;
}
.register a:hover {
  background-color: rgba(40, 54, 24, 0.689);
  /* border: 2px solid #ff6b00; */
}
