/*root styles*/
* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
}
:root {
  --primary: #f8f9fa;
  --secondary: #ff8b17;

  --dark-moss-green: #606c38ff;
  --dark-green: #283618ff;
  --cornsilk: #fefae0ff;
  --earth-yellow: #dda15eff;
  --tigers-eye: #bc6c25ff;

  --hunter-green: #386641ff;
  --asparagus: #6a994eff;
  --yellow-green: #a7c957ff;
  --parchment: #f2e8cfff;
  --bittersweet-shimmer: #bc4749ff;
}
body {
  background-color: var(--cornsilk);
}
/*header and navbar*/
header {
  position: sticky;
  top: 0px;
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 3px solid var(--dark-green);
  padding: 35px 20px;
  background-color: var(--asparagus);
  height: 50px;
}
.navbar ul {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 400px;
  padding: 15px;
}
.navbar ul li {
  text-align: center;
}
.navbar ul .about-us a,
.donate a {
  color: var(--cornsilk);
}
.navbar ul .about-us:hover,
.donate:hover {
  border-bottom: 4px solid var(--dark-green);
  margin-bottom: -4px;
}
.navbar ul li a {
  text-decoration: none;
  font-size: 16px;
}
.login a {
  border: 2px solid var(--cornsilk);
  color: var(--cornsilk);
  background-color: var(--asparagus);
  padding: 10px 20px;
  border-radius: 50px;
  transition: all 0.2s ease-in 0s;
}
.login a:hover {
  background-color: rgba(82, 124, 58, 0.782);
}
.register a {
  border: 2px solid var(--cornsilk);
  color: var(--cornsilk);
  background-color: var(--dark-green);
  padding: 10px 20px;
  border-radius: 50px;
  transition: background-color 0.2s ease-in 0s, border 0.3s ease-in 0s;
}
.register a:hover {
  background-color: rgba(40, 54, 24, 0.689);
}
.navbar .menu {
  cursor: pointer;
  display: none;
}

/*sidebar*/
.sidebar {
  display: none;
}

/*responsive*/
@media (max-width: 600px) {
  .about-us,
  .donate,
  .login,
  .register {
    display: none;
  }
  .navbar .menu {
    cursor: pointer;
    display: initial;
  }
  .sidebar {
    display: initial;
    position: fixed;

    top: 78px;
    right: 5px;
    align-items: center;
    border: 3px solid var(--dark-green);
    border-radius: 5px;
    background-color: var(--asparagus);
    height: 250px;
    width: 150px;
    padding: 2px 5px;
  }
  .sidebar ul {
    padding: 0px;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
  .sidebar ul li {
    width: 100%;
    height: 100%;
    margin: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .sidebar ul li a {
    all: initial;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    border-radius: 5px;
    color: white;
    background-color: var(--dark-green);
    font-weight: 500;
    font-size: 17px;
    font-family: "Poppins", sans-serif;
  }
  .sidebar ul li a:hover {
    border-bottom: none;
    background-color: rgba(40, 54, 24, 0.689);
  }
}
