/*root styles*/
* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
}
:root {
  --asparagus: #6a994eff;
  --dark-moss-green: #606c38ff;
  --dark-green: #283618ff;
  --cornsilk: #fefae0ff;
  --earth-yellow: #dda15eff;
  --tigers-eye: #bc6c25ff;
  --secondary: #ff8b17;
  --bittersweet-shimmer: #bc4749ff;
  --sec-dark-blue: #1b263b;
}
body {
  background-color: var(--cornsilk);
}
