<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="../public/cards.css" />
  </head>
  <body>
    <h1 class="heading">choose</h1>

    <div class="container1">
      <div class="card 1"><button class="button">TAKE A TEST</button></div>
      <div class="card 2">
        <button class="button">BOOK AN APPOINTMENT</button>
      </div>
    </div>
    <div class="container2">
      <div class="card 3">
        <button class="button">CONNECT WITH PEOPLE</button>
      </div>
      <div class="card 4">
        <button class="button">JOIN OUR WORKSHOP</button>
      </div>
    </div>
  </body>
</html>
