/*root styles*/
* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
}
:root {
  --seasalt: #f8f9faff;
  --antiflash-white: #e9ecefff;
  --platinum: #dee2e6ff;
  --french-gray: #ced4daff;
  --french-gray-2: #adb5bdff;
  --slate-gray: #6c757dff;
  --outer-space: #495057ff;
  --onyx: #343a40ff;
  --eerie-black: #212529ff;

  --asparagus: #6a994eff;
  --dark-moss-green: #606c38ff;
  --dark-green: #283618ff;
  --cornsilk: #fefae0ff;
  --earth-yellow: #dda15eff;
  --tigers-eye: #bc6c25ff;
  --secondary: #ff7817;
  --bittersweet-shimmer: #bc4749ff;
  --sec-dark-blue: #1b263b;

  --light-1: #fff7ee;
  --light-2: #f6e7d4;
  --light-3: #fde4c6;
}
.pattern {
  height: 100vh;
  position: fixed;
  z-index: -1;
  top: 0px;
  width: 100%;
  background-image: url(./images/pattern.svg);
}
